.text-perso {
  color: rgb(255, 255, 0);
}

.header-text {
  text-align: center;
  font-size: 26px;
  background-color: rgb(28, 101, 129);
  padding: 10px 0;
}

.hover:hover {
  background-color: rgb(156, 154, 154, 0.5);
}
